body {
  background-color: #13130F;
  width: 375px;
  margin: 0 auto;
}

@font-face {
  font-family: "Mohave";
  src: local("/fonts/Mohave.otf") format("opentype");
}

#nav_bar {
  background-color: #13130F;
  height: 48;
  width: 100%;
}

#hamburger {
  position: relative;
  right: 15px;
  bottom: 10px;
  width: 70;
  z-index: 10;
}

#logo {
  position: relative;
  left: 47;
  bottom: 31;
  width: 120;
  z-index: 1
}

#profile {
  position: relative;
  left: 117;
  bottom: 9;
  width: 70;
  z-index: 10;
}

#nav_divider {
  background-color: #F9FAF5; 
  height: 2;
  width: 100%;
  z-index: -2;
}

#query {
  position: relative;
  top: 28;
  left: 26;
  height: 40;
  width: 320;
  padding-left: 1cm;
  background-color: #1F201B;
  border-top-left-radius:1em;
  border-top-right-radius:1em;
  border-bottom-right-radius:1em;
  border-bottom-left-radius:1em;
  border-color: #13130F;
  color: #FFFFFF;
}

#mag {
  position: relative;
  top: 40;
  left: 100;
  z-index: 10;
}

#search {
  position: relative;
  top: 60;
  left: 149;
  z-index: 10;
}

#cover_art {
  position: relative;
  left: 67;
  bottom: 15;
  width: 235;
  height: 235;
  visibility: hidden;
}

#dislike {
  position: relative;
  bottom: 19;
  left: 70;
  width: 77;
  height: 77;
  visibility: hidden;
}

#like {
  position: relative;
  bottom: 13;
  left: 120;
  width: 90;
  height: 90;
  visibility: hidden;
}

#song_title, #artist, #album {
  color: white;
  font-family: Helvetica;
  text-align: center;
  font-style: bold;
}
